#navigation
{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

nav
{
    width: 100%;
    height: 50px;
    background-color: black;
    line-height: 50px;
    text-align: center;
}

  nav ul li
{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

  nav ul li:hover
{
    background-color:rgb(107, 18, 111);
}

  nav ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

#project1img
{
    display: flex;
    height: 500px;
    width: 100%;
}

#project2img
{
    display: flex;
    height: 500px;
    width: 100%;
}

#project3p1img
{
    display: flex;
    height: 500px;
    width: 100%;
}

#project3p2img
{
    display: flex;
    height: 500px;
    width: 100%;
}

#project1main
{
    position: relative;
    bottom: 90vh;
    margin: 15px;
}

#project2main
{
    position: relative;
    bottom: 90vh;
    margin: 15px;
}

#project3p1main
{
    position: relative;
    bottom: 90vh;
    margin: 15px;
}

#project3p2main
{
    position: relative;
    bottom: 75vh;
    margin: 15px;
}

body
{
    background-image: url(../img/cubeloop.gif);
    background-size: 100vh;
    background-repeat: repeat;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

@font-face
{
    font-family: customFont1;
    src: url()
}
